<div class="section-page" style="padding:30px">
    <mat-card class="mat-elevation-z8">
        <mat-card-header>
            <mat-card-title>Perfil</mat-card-title>
        </mat-card-header>
        
        <mat-card-content>
            <div class="grid-container">
                <div class="item1">
                    <form action="">
                        <mat-form-field>
                            <mat-label>Nombre</mat-label>
                            <input matInput value="Rodrigo Smith">
                        </mat-form-field>
                        <mat-form-field>
                            <mat-label>Email</mat-label>
                            <input matInput value="rodri@digitalwings.com">
                        </mat-form-field>
                        <mat-form-field>
                            <mat-label>Telefono Personal</mat-label>
                            <input matInput value="1234566799">
                        </mat-form-field>
                        <mat-form-field>
                            <mat-label>Telefono de Negocio</mat-label>
                            <input matInput value="1234566799">
                        </mat-form-field>
                        <mat-form-field>
                            <mat-label>Instagram</mat-label>
                            <input matInput value="digitalwings.ar">
                        </mat-form-field>
                        <mat-form-field>
                            <mat-label>Nombre de Tu Pagina Web</mat-label>
                            <input matInput value="midemo">
                        </mat-form-field>
                        <mat-form-field>
                            <mat-label>Contrasenia</mat-label>
                            <input matInput value="**************">
                        </mat-form-field>
                    </form>
                </div>
                <div class="item2">
                    <h2>Licencia</h2>
                    <h4>Vigente hasta 07/02/2025</h4>
                    <p>Ultimos Pagos</p>
                    <mat-list>
                        <mat-list-item>
                            <span matListItemTitle>Pago Recibido</span>
                            <span matListItemLine>Se ha recibido el pago por 3 meses</span>
                            <span matListItemLine>12/08/2024</span>
                            <div matListItemMeta>
                                <mat-icon>check_circle</mat-icon>
                            </div>
                        </mat-list-item>
                        <mat-divider></mat-divider>
                        <mat-list-item>
                            <span matListItemTitle>Pago Recibido</span>
                            <span matListItemLine>Se ha recibido el pago por 3 meses</span>
                            <span matListItemLine>07/06/2024</span>
                            <div matListItemMeta>
                                <mat-icon>check_circle</mat-icon>
                            </div>
                        </mat-list-item>
                        <mat-divider></mat-divider>
                        <mat-list-item>
                            <span matListItemTitle>Pago Recibido</span>
                            <span matListItemLine>Se ha recibido el pago por 1 meses</span>
                            <span matListItemLine>05/05/2024</span>
                            <div matListItemMeta>
                                <mat-icon>check_circle</mat-icon>
                            </div>
                        </mat-list-item>
                    </mat-list>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
</div>