.mdc-list-item__end::before{
    height: 0px !important;
}
.mobile-menu{
    display: none;
}
@media (max-width: 450px) {
    .mobile-menu{
        display: block;
    }
    .menu {
        display: none;
    }
}

@media (max-width: 400px) {
    mat-list-item span{
      font-size: 13px; /* O un ajuste que se vea mejor */
    }
    mat-card-actions p{
        font-size: 13px;
    }
}