<mat-card class="mat-elevation-z8">
  <mat-card-header>
      <mat-card-title>
        <div style="padding: 0 20px; position: relative;">
          Clientes
          <div style="position: absolute; top: 4px;right: 4px;">
              <mat-icon fontIcon="help" (click)="elementTooltip.toggle()" #elementTooltip="matTooltip"
              matTooltip="Se muestran todas las personas que han realizado alguna reserva, puedes enviarlas a la lista negra y se bloquearan nuevas reservas para el numero telefónico registrado."
              ></mat-icon>
          </div>
      </div>
      </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-form-field>
      <mat-label>Buscar</mat-label>
      <input matInput (keyup)="sendFilter($event)" placeholder="Búsqueda" #input>
    </mat-form-field>




    <div id="table-container">
      <app-table-cliente [busqueda]="eventFilter" (refresh)="notify()"></app-table-cliente>
    </div>
    <div id="table-mobile-container">
      <app-table-cliente-mobile [busqueda]="eventFilter" (refresh)="notify()"></app-table-cliente-mobile>
    </div>


  </mat-card-content>
</mat-card>