<mat-card class="mat-elevation-z8">
  <mat-card-header>
      <mat-card-title>Clientes</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-form-field>
      <mat-label>Buscar</mat-label>
      <input matInput (keyup)="sendFilter($event)" placeholder="Busqueda" #input>
    </mat-form-field>




    <div id="table-container">
      <app-table-cliente [busqueda]="eventFilter" (refresh)="notify()"></app-table-cliente>
    </div>
    <div id="table-mobile-container">
      <app-table-cliente-mobile [busqueda]="eventFilter" (refresh)="notify()"></app-table-cliente-mobile>
    </div>


  </mat-card-content>
</mat-card>