<button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon matBadge="6" matBadgeColor="warn">notifications_active</mat-icon>
</button>
<mat-menu #menu="matMenu">
    <div mat-menu-item class="notification">
      <mat-icon>list_alt_add</mat-icon>
      <div class="content">
        <p class="title">Nueva Reserva!</p>
        <p class="subtitle">(13:00)</p>
      </div>
    </div>
    <mat-divider></mat-divider>
    <div mat-menu-item class="notification">
      <mat-icon>list_alt_add</mat-icon>
      <div class="content">
        <p class="title">Nueva Reserva!</p>
        <p class="subtitle">(13:00)</p>
      </div>
    </div>
    <mat-divider></mat-divider>
    <div mat-menu-item class="notification">
      <mat-icon>list_alt_add</mat-icon>
      <div class="content">
        <p class="title">Nueva Reserva!</p>
        <p class="subtitle">(13:00)</p>
      </div>
    </div>
</mat-menu>
