<div class="grid-container section-page">
    <div class="item1">
        <mat-card class="mat-elevation-z8">
            <mat-card-header>
                <mat-card-title>
                    <div style="padding: 0 20px; position: relative;">
                        Mis Horarios
                        <div style="position: absolute; top: 4px;right: 4px;">
                            <mat-icon fontIcon="help" (click)="elementTooltip.toggle()" #elementTooltip="matTooltip"
                            matTooltip="Registra y ajusta los horarios de atención disponibles. Puedes agregar, editar y programar los horarios para las fechas que prefieras, facilitando la organización de las reservas."
                            ></mat-icon>
                        </div>
                    </div>
                </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <mat-tab-group [selectedIndex]="selected.value"
                (selectedIndexChange)="selected.setValue($event)">
                    <mat-tab label="Guardados">
                        <app-list-week-horario (programadoToEdit)="reciveProgramadoToEdit($event)"></app-list-week-horario>
                    </mat-tab>
                    <mat-tab label="Nuevo">
                        <app-create-week-horario [programadoToEdit]="programadoToEdit"></app-create-week-horario>
                    </mat-tab>
                </mat-tab-group>
            </mat-card-content>
        </mat-card>
    </div>

    <div class="item2">
        <app-list-horario-inactivo></app-list-horario-inactivo>
    </div>
</div>