<mat-card class="mat-elevation-z8">
    <mat-card-header>
        <mat-card-title>
            <div style="padding: 0 20px; position: relative;">
                Lista Negra
                <div style="position: absolute; top: 4px;right: 4px;">
                    <mat-icon fontIcon="help" (click)="elementTooltip.toggle()" #elementTooltip="matTooltip"
                    matTooltip="Aquí veras los clientes a los cuales no se les permitirá realizar reservas, el bloqueo se realiza por su numero telefónico."
                    ></mat-icon>
                </div>
            </div>
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <mat-list>

            @for (cliente of list; track cliente) {
                @if(!cliente.habilitado){
                    <mat-divider></mat-divider>
                    <mat-list-item>
                        <mat-icon matListItemIcon class="icon-list">person</mat-icon>
                        <span matListItemTitle>{{cliente.telefono}}</span>
                        <span matListItemLine>{{cliente.apellido}}, {{cliente.nombre}}</span>
                        <div matListItemMeta>
                            <button mat-icon-button color="primary" (click)="removeToBlackList(cliente)">
                                <mat-icon>thumb_up</mat-icon>
                            </button>
                        </div>
                    </mat-list-item>
                }
            }

            <mat-divider></mat-divider>

        </mat-list>
    </mat-card-content>

    <mat-card-actions>
        <div style="width: 100% ;display: flex;align-items: center;justify-content: space-between;">
            <div>
                <p style="text-align:center">Clientes en Lista Negra: {{list.length}}</p>
            </div>
        </div>
    </mat-card-actions>
</mat-card>