<div class="grid-container">
    <div class="item1"><app-analytics-tiempo-espera></app-analytics-tiempo-espera></div>
    <div class="item2"><app-analytics-nuevos-clientes></app-analytics-nuevos-clientes></div>
    <div class="item3"><app-analytics-tasa-cancelacion></app-analytics-tasa-cancelacion></div>
    <div class="item4"><app-analytics-clientes-recurrentes></app-analytics-clientes-recurrentes></div>
    <div class="item5"><app-analytics-ocupacion-servicio-recurso></app-analytics-ocupacion-servicio-recurso></div>
    <div class="item6">item6</div>
    <div class="item7">item7</div>
    <div class="item8">item8</div>
    <div class="item9">item9</div>
</div>
