<div class="grid-container section-page">
    <div class="item1"><app-analytics-tiempo-espera></app-analytics-tiempo-espera></div>
    <div class="item2"><app-analytics-nuevos-clientes></app-analytics-nuevos-clientes></div>
    <div class="item3"><app-analytics-tasa-cancelacion></app-analytics-tasa-cancelacion></div>
    <div class="item4"><app-analytics-clientes-recurrentes></app-analytics-clientes-recurrentes></div>
    <div class="item5"><app-analytics-ocupacion-servicio-recurso></app-analytics-ocupacion-servicio-recurso></div>
    <div class="item6"><app-analytics-ingresos-futuros></app-analytics-ingresos-futuros></div>
    <!--<div class="item7">item7</div>-->
    <div class="item8"><app-analytics-historial-reservas></app-analytics-historial-reservas></div>
    <div class="item9"><app-analytics-tasa-ocupacion></app-analytics-tasa-ocupacion></div>
</div>
