<mat-card class="mat-elevation-z8">
    <mat-card-title>
        <div style="padding: 0 20px; position: relative;">
            Ocupación
            <div style="position: absolute; top: 4px;right: 4px;">
                <mat-icon fontIcon="help" (click)="elementTooltip.toggle()" #elementTooltip="matTooltip"
                matTooltip="Indica el porcentaje de reservas se hacen en comparación con la capacidad disponible."
                ></mat-icon>
            </div>
        </div>
    </mat-card-title>
    <mat-card-content>
        <canvas id="doughnut"></canvas>
        <mat-form-field>
            <mat-label>Recurso</mat-label>
            <mat-select [(ngModel)]="selectedRecurso">
                <mat-option [value]="0">Todos</mat-option>
                @for (recursos of listRecursos; track recursos) {
                    <mat-option [value]="recursos.id">{{recursos.nombre}}</mat-option>
                }
            </mat-select>
        </mat-form-field>
    </mat-card-content>
</mat-card>