<mat-card class="mat-elevation-z8">
    <mat-card-title>Ocupación</mat-card-title>
    <mat-card-content>
        <canvas id="doughnut"></canvas>
        <mat-form-field>
            <mat-label>Recurso</mat-label>
            <mat-select [(ngModel)]="selectedRecurso">
                <mat-option [value]="0">Todos</mat-option>
                @for (recursos of listRecursos; track recursos) {
                    <mat-option [value]="recursos.id">{{recursos.nombre}}</mat-option>
                }
            </mat-select>
        </mat-form-field>
    </mat-card-content>
</mat-card>