<mat-accordion>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Servicios
            </mat-panel-title>
        </mat-expansion-panel-header>

        <mat-list>

            @for (servicio of list; track servicio) {

                <mat-divider></mat-divider>

                <mat-list-item>
                    <span matListItemTitle>{{servicio.nombre}}, {{servicio.duracion}} minutos</span>
                    <span matListItemLine>${{servicio.precio}} <span> - ${{servicio.precioMaximo}}</span><span> (${{servicio.precioSenia}})</span></span>
                    <div matListItemMeta>
                        <button mat-icon-button color="primary" aria-label="Example icon button with a menu icon" (click)="edit(servicio)">
                            <mat-icon>edit</mat-icon>
                        </button>        
                        <button mat-icon-button color="primary" aria-label="Example icon button with a menu icon" (click)="delete(servicio)">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </div>
                </mat-list-item>
            }

            <mat-divider></mat-divider>

        </mat-list>

        <div style="display: flex;align-items: center;justify-content: space-between;">
            <div>
                <p>Servicios Registrados: {{list.length}}</p>
            </div>
            <div>
                <button mat-flat-button color="primary" (click)="create()">Nuevo</button>
            </div>
        </div>

    </mat-expansion-panel>
</mat-accordion>