// Importa los temas de Angular Material
@use '@angular/material' as mat;

// Define la paleta primary usando el color por defecto de warn
$my-primary-palette: mat.define-palette(mat.$cyan-palette);

// Define la paleta warn usando el color por defecto de primary
$my-warn-palette: mat.define-palette(mat.$deep-orange-palette);

// Define el tema personalizado intercambiando primary y warn
$my-custom-theme: mat.define-dark-theme((
  color: (
    primary: $my-primary-palette,
    accent: mat.define-palette(mat.$green-palette),
    warn: $my-warn-palette,
  ),
  typography: mat.define-typography-config(),
));

// Aplica el tema a todos los componentes de Angular Material
@include mat.all-component-themes($my-custom-theme);

/* You can add global styles to this file, and also import other style files */
@import 'ngx-toastr/toastr';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}
  
.example-form mat-form-field {
    width: 100%;
}

.mat-elevation-z8, .mat-mdc-elevation-specific.mat-elevation-z8 {
    box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2),
    0px 8px 10px 1px rgba(0, 0, 0, 0.14),
    0px 3px 14px 2px rgba(0, 0, 0, 0.12) !important;
}

@media (max-width: 400px) {
    .section-page{
        padding: 0 !important;
    }
}