<mat-drawer-container class="example-container" style="height: 100vh;" [hasBackdrop]="isSmallScreen">
    <mat-drawer #drawer [mode]="mode" opened>
        <div style="padding: 20px 40px;">
            <app-sidenav-menu></app-sidenav-menu>
            <button mat-icon-button class="example-icon" (click)="drawer.toggle()">
                <mat-icon>menu</mat-icon>
            </button>
        </div>
    </mat-drawer>
    <mat-drawer-content>
        <mat-toolbar>
            <button mat-icon-button class="example-icon" (click)="drawer.toggle()">
                <mat-icon>menu</mat-icon>
            </button>
            <span class="example-spacer">Peluquería Demo</span>
            <app-buzon-menu></app-buzon-menu>
            <app-perfil-menu></app-perfil-menu>
        </mat-toolbar>
        <div class="outlet-container">
            <router-outlet></router-outlet>
        </div>
    </mat-drawer-content>
</mat-drawer-container>
<app-loader></app-loader>