<table mat-table [dataSource]="dataSource" matSort>
    
    <ng-container matColumnDef="nombre">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
      <td mat-cell *matCellDef="let cliente"> {{cliente.apellido}}, {{cliente.nombre}} </td>
    </ng-container>

    <ng-container matColumnDef="telefono">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Telefono </th>
      <td mat-cell *matCellDef="let cliente"> {{cliente.telefono}} </td>
    </ng-container>

    <ng-container matColumnDef="reservas">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Reservas </th>
      <td mat-cell *matCellDef="let cliente"> {{cliente.cantidadReservas}} </td>
    </ng-container>

    <ng-container matColumnDef="estado">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Estado </th>
      <td mat-cell *matCellDef="let cliente">
          @if (!cliente.habilitado) {
              <span>En Lista Negra</span>
          }
          @if (cliente.habilitado && cliente.tieneReservaProxima) {
              <span>Con Reserva Activa</span>
          }
          @if (cliente.habilitado && !cliente.tieneReservaProxima) {
              <span>Sin Reserva Activa</span>
          }
      </td>
    </ng-container>

    <ng-container matColumnDef="acciones">
      <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
      <td mat-cell *matCellDef="let cliente">
        <button mat-icon-button color="primary" (click)="toBlackList(cliente)">
          <mat-icon>block</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let reserva; columns: displayedColumns;"></tr>

    <!-- Row shown when there is no matching data. -->
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">No hay datos que cumplan con el filtro.</td>
    </tr>

  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 25]" aria-label="Select page of users"></mat-paginator>